{% extends "base.html.twig" %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Cart</h1>

    {% for cartItem in cartItems %}
        <div>
            <p>{{ cartItem.product.name }}</p>
        </div>
    {% endfor %}
{% endblock %}
