{% extends "base.html.twig" %}

{% block title %}Manage Products{% endblock %}

{% block body %}
    <h1>Delete Product</h1>

    <p>Are you sure you want to delete?</p>

    <form method="post">
        <a href="{{ path('admin_product_index') }}">Cancel</a>
        <input type="hidden" name="token" value="{{ csrf_token('delete-product-' ~ product.id) }}">
        <input type="submit" value="Confirm">
    </form>
{% endblock %}
